<template>
  <div>
    <h2 class="text-center font-semibold text-3xl lg:text-4xl text-gray-700 mb-4 ">(☞ﾟヮﾟ)☞   PINGR  ☜(ﾟヮﾟ☜)</h2>
    <div class="border-b-2 border-gray-600"></div>
  </div>
</template>
