<template>
  <div>
    <input v-model="value" class="transition block w-full py-3 px-1 mt-2 text-gray-500 appearance-none
                                  focus:text-gray-800 focus:outline-none border-b-2 focus:border-blue-500"
           :class="[isValid ? 'border-gray-300' : 'border-red-500']"
           type="text" :placeholder="placeholder">
  </div>
</template>

<script>
export default {
  props: {
    placeholder: {
      type: String,
      default: '',
    },
    field: {
      type: String,
      default: '',
    },
    store: {
      type: String,
      default: '',
    },
  },
  data () { return { isValid: true } },
  computed: {
    value: {
      get () { return this.$store.state[this.store][this.field] },
      set (value) {
        switch (this.field) {
          case 'email':
            this.isValid = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(value);
            break;
          case 'password':
            this.isValid = /^([a-zA-Z0-9]){8,32}$/.test(value);
            break
          case 'username':
            this.isValid = /^[a-zA-Z0-9]+$/.test(value);
            break;
        }
        this.$store.commit(this.store + '/' + this.field, value);
      }
    }
  }
}
</script>
