<template>
  <div class="flex flex-col h-screen bg-gray-800">
    <div class="grid place-items-center mx-2 my-20 sm:my-auto">
      <div class="w-11/12 p-12 sm:w-9/12 md:w-8/12 lg:w-7/12 2xl:w-5/12 px-6 py-10 sm:px-10 sm:py-6
                  bg-white rounded-lg shadow-md lg:shadow-lg">
        <CardHeader/>
        <ErrorMessage :visible="error" :text="error_msg"/>
        <div class="md-10 mt-3">
          <!-- Form inputs -->
          <TextInput store="sign_up" field="email" placeholder="E-mail"/>
          <TextInput store="sign_up" field="password" placeholder="Password"/>
          <TextInput store="sign_up" field="username" placeholder="Username"/>
          <!-- Buttons -->
          <div class="flex items-center justify-between mt-8">
            <Button label="clear" @click="clear_fields"/>
            <Button label="sign-up" @click="send"/>
          </div>
          <p class="text-center text-sm mt-6">Already an user? <a class="text-blue-600" href="/sign-in">Sign-in now!</a></p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import CardHeader from "~/components/header.vue"
  import ErrorMessage from "~/components/error-msg.vue"
  import TextInput from "~/components/text-input.vue"
  import Button from "~/components/button.vue"

  export default {
    components: { TextInput, Button, CardHeader, ErrorMessage },
    data () {
      return {
        error: false,
        error_msg: "meu truta"
      }
    },
    methods: {
      clear_fields () {
        this.error = false;
        this.$store.commit('sign_up/clear');
      },
      async send () {
        try {
          this.error = false;
          await this.$store.dispatch('sign_up/send');
        } catch (err) {
          this.error = true;
          this.error_msg = err.response.data;
        }
      },
    }
  }
</script>
